<!DOCTYPE html>
<html lang="en">
	<head>
		
		<meta charset="utf-8">
		
		<title>To Do List</title>
		 <link rel="stylesheet" type="text/css"  href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap"
      	rel="stylesheet"/>
		<link rel="stylesheet" href="css/styles.css"/>
	</head>
	<body>