html {
  background-color: #AAC5E2;
  /*box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;*/
  /*background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);*/
  min-height: 1000px;
  font-family: "Architects Daughter", cursive;
}

h1 {
  color: #fff;
  /*padding: 10px;*/
  transform: rotate(2deg);
  margin: 10px;
  font-size: 2rem;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  /*background-image: linear-gradient(#bfc0c1 5%, transparent 0);*/
  border-radius: 20px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  padding-top: 0.5px;
  background-size: 25px 25px;
  box-sizing: border-box;
}

#heading {
  background-color: #6891C3;
  text-align: center;
  /*padding: 0.2rem 1.2rem;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  width: 80%;
  /*z-index: 2;*/
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  margin-top:20px;
  /*border-bottom: 1px solid #F1F1F1;*/
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #6891C3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #6891C3;
}

form.item {
  text-align: center;
  margin-left: 20px;
  margin-top:20px;
}

button {
  height: 35px;
  width: 35px;
  border-radius: 10%;
  border-color: transparent;
  background-color: #6891C3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  margin-top:5px;
  text-align: center;
  height: 45px;
  top: 10px;
  border: solid 3px transparent;
  border-bottom: dashed 3px #6891C3;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  font-family: "Architects Daughter", cursive;
  color: #6891C3
}

input[type="text"]:focus {
  outline: none;
  /*box-shadow: inset 0 -3px 0 0 #A683E3;*/
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
